@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: #fff;
}

body,
main {
  background-color: #1f4068;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  font-family: "Raleway", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  height: 120px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background-color: #F9F9FB;
  width: 100%;
}

.row {
  width: 100%;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

#logo a {
  float: left;
  z-index: 888;
  font-family: "Raleway", sans-serif;
  color: #0a192f;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 5px;
  margin-top: 45px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

#nav {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #00000F;
}

#nav > li {
  float: left;
  position: relative;
  top: 30px;
  left: 500px;
  padding: 20px 15px;
}

.bio-container {
  min-height: 700px;
  background-color: #F9F9FB;
  color: #fff;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-description {
  width: 50%;
  margin: 0 auto;
  padding: 4%;
  font-family: "Raleway", sans-serif;
}

.bio-name {
  font-size: 40px;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.02) 0px 0px 10px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0.3em;
  color: #1f4068;
}

.bio-hear {
  font-size: 18px;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.02) 0px 0px 10px;
  line-height: 120%;
  text-align: center;
  color: #1b1b2f;
}

.bio-description p {
  width: 100%;
  color: #00000F;
  line-height: 30px;
  text-align: center;
  text-justify: inter-word;
  justify-content: center;
}

.bio-description .first-p {
  margin-top: 50px;
}

.resume {
  position: relative;
  margin: 0 auto;
  top: 40px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #FFC511;
  border: 1px solid #FFC511;
  border-radius: 5px;
}

.resume:hover {
  border: none;
  color: #fff;
  background-color: #FFC511;
  transition: all 0.2s ease-in-out;
}

.social {
  text-align: center;
  position: relative;
  top: 50px;
}

.social .fa {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 30px;
  font-size: 16px;
  color: #1f4068;
  border: 1px solid #1f4068;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.fa:hover {
  background-color: #1f4068;
  color: #fff;
  border: none;
}

.terminal-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 80px;
  height: 700px;
}

.terminal-highlight {
  color: #FFC511;
}

.terminal-container p {
  color: #F9F9FB;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
}

.terminal-bar {
  background-color: #eae8e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}

.dark-mode {
  background-image: linear-gradient(180deg, #464248 0%, #3b383d 100%);
  border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.icon-btn {
  border-radius: 50%;
  margin-top: 7px;
  height: 15px;
  width: 15px;
  margin-bottom: 0.5rem;
}

.terminal-bar > div.icon-btn:first-child {
  margin-left: 0.6rem;
}

.terminal-bar > div.icon-btn:not(:first-child) {
  margin-left: 0.5rem;
}

.terminal-bar > div.icon-btn:last-child {
  margin-right: 0.6rem;
}

.close {
  background-color: #fa615c;
}

.max {
  background-color: #3fc950;
}

.min {
  background-color: #ffbd48;
}

.terminal-header-text {
  position: absolute;
  top: 3px;
  margin-top: 3px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.terminal-window {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 500px;
  padding: 0.5rem 0rem 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #1b1b2f;
}

.terminal-output {
  overflow-y: hidden;
  overflow: auto;
}

.terminal-line {
  position: relative;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  color: #fff;
  margin-top: 5px;
}

.success,
.directory {
  color: #8dd39e;
}

.code {
  color: #FFC511;
}

.error {
  color: #d7566a;
}

.command-input {
  opacity: 0;
  filter: alpha(opacity=0);
}

.shadow {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 25px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 699px) {
  .bio-description {
    position: relative;
    top: 150px;
    height: 1350px;
  }

  .bio-description p {
    width: 100%;
    text-align: center;
    text-justify: inter-word;
  }

  #logo {
    margin-left: 40px;
  }

  .social a {
    display: inline-block;
    width: 100%;
  }
}

/*# sourceMappingURL=/app.787bbdad.css.map */